<%- include("header") -%>


    
    <form action="">
        <h1 class="heading">LOGIN SUCCESSFUL</h1>
        <br>
        <h3 class="heading">CLICK BELOW TO ENTER HUB</h3>
        <br>
        <a href="project" class="submit-btn">ENTER</a>
    </form>



    <%- include("footer") -%>