<%- include("header") -%>


    
    <form action="/toregister" method="post">
        <h1 class="heading"> <%=resultIs%> </h1>
        <br>
        <br>
        <button type="submit" class="submit-btn" name="button"> <%=resultMsg%> </button>
    </form>



    <%- include("footer") -%>